@media (width > 768px){
    #menu{
        display: none;
    }
}

@media (width < 768px){
    header{
        display: none;
    }

}
@media (max-width: 768px){
    .rar{
        display: none;
    }
}
@media (width < 376px){

    h1{
        position: relative;
        left: 100px;   
    }

    .p__h1{
        font-size: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 1075px;
        position: relative;
        left: 100px;
    }

    .button__h1{
        position: relative;
        left: 400px;
        width: 500px;
        height: 200px;
        font-size: 70px;
    }

    .choice{
        width: 1300px;
        font-size: 60px;
    }

    .filterDiv{
        width: 300px;
    }

    .btn{
        font-size: 60px;
        width: 300px;
    }

    .even__grid{
        display: flex;
        flex-direction: column;
    }

    .even__grid img{
        width: 1300px;
    }

    .slider{
        width: 1300px;
    }

    .slider__nav{
        width: 200px;
        height: 100px;
    }

    .why{
        width: 1100px;
        position: relative;
        left: 130px;
    }

    .accordion{
        width: 1100px;
        position: relative;
        left: 110px;
    }

    .accordion-head{
        font-size: 50px;
    }

    .accordion-block{
        font-size: 30px;
    }

    .read__grid{
        display: flex;
        flex-direction: column;
    }

    .read__grid img{
        width: 1100px;
        position: relative;
        left: 110px;
    }

    .mess{
        width: 1300px;
    }

    .sim{
        width: 1300px;
    }

    .p__sim{
        width: 1000px;
        margin-top: 30px;
    }

    #menu{
        width: 500px;
    }

    .menu-bar{
        width: 500px;
    }
}